body {
    background-color: #F0F0F3;
	margin: 0px 0px 0px 0px;
	overflow-x: hidden; 
}


h1 {
	color: white;
	text-align: left;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	height: 50px;
	width: 100%;
	margin-left: 30px;
	
}
h2 {
    color: white;
	background-color:#7684FE;
    margin-right: 250px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}

p, input, select {
    font-family: verdana;
    font-size: 12px;
	color: black;
    text-align: left;
}

input, select {
	border:1px solid lightgray;
	border-radius: 2px;
}

button {
	background-color: #354CA6;
	color: white;
	padding: 2px 6px;
	text-align: center;
	border:2px solid gray;
	border-radius: 5px;
	font-size: 12px;
}

button:hover, button:active{
	background-color: #384A94;
	cursor: pointer;
}


a:link, a:visited{
	text-decoration: none;
	background-color: #354CA6;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border:2px solid gray;
	border-radius: 5px;
}

a:hover, a:active{
	/*text-decoration: underline;*/
	background-color: #384A94;
	cursor: pointer;
}

a.one:link {
	color: black;
}

header.site-header {
	background-color: #354CA6;
	color: white;
	height: 50px;
	width: 100%;
	border:1px solid black;
	
	
}

#__main {
	display: flex;
    justify-content: left;
}
#chart_div {
	/*border:2px solid gray;*/
	text-align: left;
	padding: 10px 10px;
	margin-left: 120px;
	margin-top: 10px;
	background-color: white;
	width: 720px;
	height: 500px;
	border-radius: 10px;
}

#setup {
	width: 320px;
	height: 200px;
	/*border:2px solid gray;*/
	text-align: left;
	padding: 10px 10px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: white;
	/*overflow: scroll;*/
	border-radius: 10px;
}

#limit{
	width:60px;
}

#offset {
	width:68px;
}

#chartType_lbl, #chartType {
	display: inline;
}

#chartType {
	margin-left: 10px;
}

#parameter1_lbl, #parameter1 {
	margin-top: 10px;
	display: inline;
}

#parameter1 {
	margin-left: 3px;
}

#parameter2_lbl {
	margin-left: 3px;
}
#parameter2_lbl, #parameter2 {
	display: inline;
}

#startDate_lbl, #startDate {
	margin-top: 10px;
	display: inline;
	
}

#startDate {
	margin-left: 10px;
	width:177px;
}

#endDate_lbl, #endDate {
	margin-top: 10px;
	display: inline;
	
}

#endDate {
	margin-left: 18px;
	width:177px;
}

#limit_lbl, #limit, #offset_lbl, #offset {
	margin-top: 10px;
	display: inline;
}

#limit {
	margin-left: 43px;
}

#drawDate {
	margin-left: 1px
}

#chart_div2 {
	/*border:2px solid gray;*/
	text-align: left;
	padding: 10px 10px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: white;
	width:320px;
	height: 270px;
	border-radius: 10px;
}

#chart_div3 {
	/*border:2px solid gray;*/
	text-align: left;
	padding: 10px 10px;
	margin-top: 10px;
	margin-left: 120px;
	margin-bottom: 20px;
	background-color: white;
	width:720px;
	height: 400px;
	border-radius: 10px;
}

#getData {
	margin-left: 120px;
	margin-right: 5px;
	margin-bottom: 40px;
}

#getData, #storage {
	display: inline;
}

#__screen {

}

#credit {
	color: gray;
	text-align: center;
}